<div class="alert alert-danger" *ngIf="errors" role="alert"> {{ fieldLabel }} is invalid. </div>

<div class="alert alert-danger" *ngIf="errors?.required" role="alert"> {{ fieldLabel }} is required. </div>

<div class="alert alert-danger" *ngIf="errors?.minlength" role="alert"> {{ fieldLabel }} minlength is 3. </div>

<div class="alert alert-danger" *ngIf="errors?.maxlength" role="alert"> {{ fieldLabel }} maxlength is 15. </div>

<div class="alert alert-danger" *ngIf="errors?.pattern" role="alert"> {{ fieldLabel }} has invalid input. </div>

<div class="alert alert-danger" *ngIf="errors?.city" role="alert"> {{ fieldLabel }} needs to be a city. </div>
