<h1 #pageTitle>Booking History Playground</h1>
<hr />

<app-tabbed-pane>
  <app-tab title="Upcoming Flights">
    <p>No upcoming flights!</p>
  </app-tab>

  <app-tab title="Operated Flights">
    <p>No operated flights!</p>
  </app-tab>

  <app-tab title="Cancelled Flights">
    <p>No cancelled flights!</p>
  </app-tab>
</app-tabbed-pane>
<hr />

<button (appClickWithWarning)="delete()" #cww="clickWithWarning">Delete</button>

<!-- Use #cww -->
<button class="btn btn-danger" (click)="cww.handleClick(true)">Delete without asking questions!</button>

<div>
  <hr />
  <h2>Create View dynamically via ViewContainerRef</h2>

  <input [appTooltip]="tmpl" />

  <ng-template #tmpl>
    <h3>2 Tips for Success</h3>
    <ol>
      <li>Don't tell everything!</li>
    </ol>
  </ng-template>
</div>

<div>
  <hr />
  <h2>Create View in template via Outlet</h2>

  <ng-container *ngTemplateOutlet="tmpl2"></ng-container>

  <ng-template #tmpl2><h3>Hello world!</h3></ng-template>

  <ng-container *ngComponentOutlet="flightSearchComponent"></ng-container>
</div>
